.mine-header-nav{
  font-size: 16px;
  color: #314659;
  display: flex;
  justify-content: space-between;
  .home-logo {
    cursor: pointer;
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    .logo-text {
      .logo-image {
        transition: all 0.2s ease;
        &:hover {
          transform: transslateX(-3px);
        }
      }
    }
    .home-tab-item {
      height: 63px;
      padding: 0 15px;
      transition: all 0.3s ease;
      &:hover {
        color: #1890ff;
      }
    }
    .active {
      border-bottom: 2px solid #1890ff;
      color: #1890ff;
    }
  }
  .nav-right {
    display: flex;
    .mine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon-header {
        display: flex;
        align-items: center;
        .user-name {
          margin-left: 5px;
          font-size: 14px;
        }
        .icon-mine {
          font-size: 22px;
        }
      }
    }
  }
}
