.topics {
  width: 980px;
  margin: 20px auto;
  border: 1px solid #dbdce0;
  .topics-header {
    height: 48px;
    color: #333;
    background: linear-gradient(to bottom, #eeeff3 0, #eaeef1 100%);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    div {
      width: 76px;
      height: 48px;
      line-height: 48px;
      text-align: center;
    }
    .active {
      background-color: #ccc;
    }
  }
  .topics-content {
    .topics-item {
      padding: 40px;
      height: 174px;
      display: flex;
      .comment {
        width: 70px;
        .comment-wrapper {
          width: 50px;
          height: 30px;
          line-height: 30px;
          border: 1px solid #dbdce0;
          background-color: #eeeff3;
          text-align: center;
          font-size: 12px;
        }
      }
      .title {
        padding-left: 30px;
        flex-grow: 1;
        color: #2d64b3;
        cursor: pointer;
        .title-image {
          margin-top: 10px;
          width: 90px;
          height: 90px;
        }
      }
      .poster {
        width: 150px;
        clear: #999;
        &:hover {
          & > span {
            opacity: 0.8;
          }
        }
      }
      .time {
        width: 150px;
      }
      &:hover {
        background-color: #f7f9fc;
      }
    }
  }
}
